
body {
    background-color: #000;
    margin: 0px;
}

#main {
    background-color: #2496FA;
}

h1 {
    text-align: center;
    background-color: #000;
    color: #FFF;
    margin: 0px;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 4em;
    border: 5px solid white;
}

h2, p {
    text-align: center;
    color: #FFF;
    text-shadow: 1px 1px #000;
    margin: 0px;
    padding: 15px;
}

h2 {
    font-size: 2.5em;
    text-shadow: 2px 2px #000;
}

p {
    font-size: 1.5em;
    padding-left: 10%;
    padding-right: 10%;
    text-align: left;
}

ul {
    list-style-type: none;
}

.example {
    font-size: 2em;
    text-shadow: 2px 2px #000;
}

span {
    color: #FFF;
    font-size: 1.5em;
    text-shadow: 1px 1px #000;
}

#simpleLabels {
    text-align: right;
    display: inline-block;
    width: 27%;
}

table, th, td {
    color: #FFF;
    font-size: 1.25em;
    text-shadow: 1px 1px #000;
    border: 2px solid black;
    margin: auto;
    margin-top: 2%;
}

.calculator {
    font-size: 2em;
    text-shadow: 2px 2px #000;
    margin-bottom: 0px;
}

#simpleLabels p {
    text-align: right;
    padding-right: 0px;
    padding-left: 0px;

}

input {
    width: 150px;
    margin: 5px;
}

::placeholder {
    color: red;
}

#simpleInputs {
    display: inline-block;
    text-align: left;
    width: 27%;
}

#simpleMain {
    text-align: center;
}

select {
    width: 75px;
}

#calcButton {
    text-align: center;
    margin-top: 0px;
}

footer {
    color: white;
    background-color: #000;
    text-align: center;
    font-size: 1.25em;
    padding: 20px;
    border: 5px solid white;
}

td {
    text-align: center;
}

