
body {
    background-color: #493075;
    margin: 0px;
}

#main {
    background-color: #6c6c70;
}

h1 {
    text-align: center;
    background-color: #493075;
    color: #FFF;
    margin: 0px;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 4em;
    border: 5px solid white;
}

h2, p {
    text-align: center;
    color: #FFF;
    text-shadow: 1px 1px #000;
    margin: 0px;
    padding: 15px;
}

h2 {
    font-size: 2.5em;
    text-shadow: 2px 2px #000;
}

p {
    font-size: 1.5em;
    padding-left: 10%;
    padding-right: 10%;
    text-align: left;
}

ul {
    list-style-type: none;
}

.example {
    font-size: 2em;
    text-shadow: 2px 2px #000;
}

span {
    color: #FFF;
    font-size: 1.5em;
    text-shadow: 1px 1px #000;
}

#simpleLabels, #compLabels {
    text-align: right;
    display: inline-block;
    width: 27%;
}

table, th, td {
    color: #FFF;
    font-size: 1.25em;
    text-shadow: 1px 1px #000;
    border: 2px solid black;
    margin: auto;
    margin-top: 2%;
}

.calculator {
    font-size: 2em;
    text-shadow: 2px 2px #000;
    margin-bottom: 0px;
}

#simpleLabels p, #compLabels p{
    text-align: right;
    padding-right: 0px;
    padding-left: 0px;

}

input {
    width: 150px;
    margin: 5px;
}

::placeholder {
    color: red;
}

#simpleInputs, #compInputs {
    display: inline-block;
    text-align: left;
    width: 27%;
}

#simpleMain, #compMain {
    text-align: center;
}

select {
    width: 75px;
}

.calcButton {
    text-align: center;
    margin-top: 0px;
}

footer {
    color: white;
    background-color: #493075;
    text-align: center;
    font-size: 1.25em;
    padding: 20px;
    border: 5px solid white;
}

td {
    text-align: center;
}

.collapsible {
  background-color: #222;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 80%;
  border: none;
  text-align: center;
  margin-left: 10%;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #000;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  background-color: #5b5b5e;
  transition: max-height 0.2s ease-out;
}

.collapsible:after {
  content: '\002B';  /* Unicode character for "minus" sign (+) */
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212"; /* Unicode character for "minus" sign (-) */
}

nav {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}

nav a {
    color: white;
    font-size: 1.75em;
    text-decoration: none;
    padding: 5px;

}

nav a:visited {
    background-color: black;
}

nav a:hover {
    background-color: #1f1d1d;
}

nav a:active {
    background-color: #2e2b2b;
}